/* navbar */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.logo img{
    height: 70px;
}

.nav-links a{
    color: black;
    text-decoration: none;
}


.nav-links{
    display: flex;
    gap: 50px;
    font-size: 30px;
}

.login{
    display: flex;
    font-size: 50px;
}